// Note: we use Autoprefixer to add vendor prefixes to our CSS -> https://github.com/postcss/autoprefixer

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-3;
}

a {
	color: $color-2;
	text-decoration: none;
}

img, embed, object, video, svg {
	max-width: 100%;
}

input, textarea {
	font-family: inherit;
	font-size: 1.6rem;
}

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */

.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: $L; // breakpoints inside partials > _layout.scss
	margin: 0 auto;
	@include clearfix;
}

/* -------------------------------- 

Main Components 

-------------------------------- */

.dm-overlay {
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	background-color: black;
	opacity: .65;
}

.dm-section {
	padding: 2em;
	text-align: center;
	color: $color-1;

	&--one {
		color: $color-3;
		background-color: $color-1;
	}

	&--two {
		background-color: $color-2;
	}

	&--three {
		background-color: $color-1;
		color: $color-3;
	}
}

main.slide-out {
	transition: all .3s;
	transform: translateX(-$member-bio-width)
}

.dm-team li {
	@include MQ(M) {
		@include column(.31);
		margin-right: 3.5%;
		&:last-child {
			margin-right: 0;
		}
	}
	margin-right: 0;
}

.dm-member__details {
	background-color: $color-1;
	height: 80px;	
}

.dm-member-bio {
	width: $member-bio-width;
	background-color: red;
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX($member-bio-width);
	transition: all .3s;

	&--visible {
		transform: translateX(0);
	}
}