.dm-u-font-size-xsm {
  font-size: $dm-settings_font-size-xsm;
  line-height: $dm-settings_font-size-xsm-line-height;
}

.dm-u-font-size-sm {
  font-size: $dm-settings_font-size-sm;
  line-height: $dm-settings_font-size-sm-line-height;
}

.dm-u-font-size-base {
  font-size: $dm-settings_font-size-base;
  line-height: $dm-settings_font-size-base-line-height;
}

.dm-u-font-size-md {
  font-size: $dm-settings_font-size-md;
  line-height: $dm-settings_font-size-md-line-height;
}

.dm-u-font-size-lg {
  font-size: $dm-settings_font-size-lg;
  line-height: $dm-settings_font-size-lg-line-height;
}

.dm-u-font-size-xl {
  font-size: $dm-settings_font-size-xl;
  line-height: $dm-settings_font-size-xl-line-height;
}

.dm-u-font-size-xxl {
  font-size: $dm-settings_font-size-xxl;
  line-height: $dm-settings_font-size-xxl-line-height;
}

.dm-u-font-size-xxxl {
  font-size: $dm-settings_font-size-xxxl;
  line-height: $dm-settings_font-size-xxxl-line-height;
}
