<inline-style></inline-style>
<style-urls></style-urls>
<shadow-dom></shadow-dom>
<!--<no-encapsulation></no-encapsulation>-->

<sample-app></sample-app>

<content-projection></content-projection>

<tabapp></tabapp>

<h2>Lifecycle</h2>
<oninit-app></oninit-app>
<onchanges-app></onchanges-app>
<do-check-app></do-check-app>
<all-callbacks></all-callbacks>
<app-tester></app-tester>

<h2>Change Detection</h2>
<default-cmp [profile]="profile1"></default-cmp>
<onpush-cmp [profile]="profile2"></onpush-cmp>

<h3>Observable App</h3>
<observable-app></observable-app>