<inline-style></inline-style>
<style-urls></style-urls>
<shadow-dom></shadow-dom>
<!--<no-encapsulation></no-encapsulation>-->

<sample-app></sample-app>

<content-projection></content-projection>

<tabset>
  <tab title="First tab">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est vel possimus officiis ullam suscipit illo voluptatibus amet accusantium, dolores qui dignissimos commodi similique? Ratione eos cum autem, dolor consequatur provident.
  </tab>
  <tab *ngFor="let tab of tabs" [title]="tab.title">
    {{ tab.content }}
  </tab>
</tabset>