.done {
	color: grey;
	text-decoration: line-through;
}

ul {
	list-style: none;
}

li {
	cursor: pointer;
}

.edit-title {
	display: none;

}

.edit .edit-title {
	display: inline-block;
}

.edit .title {
	display: none;
}

.title {
	display: inline-block;
}