<h1>Form Builder SKU</h1>

<div *ngIf="myFormGroup.invalid">
  form has errors
</div>

<form [formGroup]="myFormGroup" (ngSubmit)="onSubmit(myFormGroup.value)">

<label for="skuInput">SKU</label>
<input type="text"
       id="skuInput"
       placeholder="SKU"
       name="sku"
       [class.error]="!sku.valid && sku.dirty"
       [formControl]="sku">
       <p *ngIf="!sku.valid">This field is invalid</p>
       <p *ngIf="sku.hasError('required')">This field is required</p>
       <p *ngIf="sku.hasError('required', 'sku')">This targeted field is required</p>
       <p *ngIf="sku.hasError('invalidSku')">SKU is not in proper format</p>
  <button type="submit">Submit</button>
</form>
