
$h6-font-size: $dm-settings_font-size-base !default;
$h5-font-size: $dm-settings_font-size-md !default;
$h4-font-size: $dm-settings_font-size-lg !default;
$h3-font-size: $dm-settings_font-size-xl !default;
$h2-font-size: $dm-settings_font-size-xxl !default;
$h1-font-size: $dm-settings_font-size-xxxl !default;

$h6-line-height: $dm-settings_font-size-base-line-height !default;
$h5-line-height: $dm-settings_font-size-md-line-height !default;
$h4-line-height: $dm-settings_font-size-lg-line-height !default;
$h3-line-height: $dm-settings_font-size-xl-line-height !default;
$h2-line-height: $dm-settings_font-size-xxl-line-height !default;
$h1-line-height: $dm-settings_font-size-xxxl-line-height !default;