html {
    font: normal 100%/#{$line-height} Georgia,serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, figure,
blockquote, details, hr,
fieldset, pre, table {
	margin: 0 0 $line-height * 1rem;
}

// @media only screen and (min-width: 60em) {
// 	html {
// 		font-size: 110%;
// 	}
// }

// @media only screen and (min-width: 90em) {
// 	html {
// 		font-size: 120%;
// 	}
// }

// @media only screen and (min-width: 120em) {
// 	html {
// 		font-size: 130%;
// 	}
// }