* {
    margin: 0;
    margin-bottom: 1.5rem;
}

html {
    font: normal 100%/1.5 Georgia,serif;
}

h1 {
    font-size: 4.208rem;
    line-height: 1.0694;
}

h2 {
    font-size: 3.157rem;
    line-height: 1.4254
}

h3 {
    font-size: 2.369rem;
    line-height: 1.2663;
}

h4 {
    font-size: 1.777rem;
    line-height: 3rem;
}

h5 {
    font-size: 1.333rem;
    line-height: 3rem;
}

h6 {
    font-size: 1rem;
    line-height: 1.5rem;
}
