<div class="buttons">
  <button [disabled]="!heroes.canAdd()" (click)="heroes.addInactive()">Add inactive hero</button>
  <button [disabled]="!heroes.canAdd()" (click)="heroes.addActive()">Add active hero</button>
  <button [disabled]="!heroes.canRemove()" (click)="heroes.remove()">Remove hero</button>
</div>

<div class="columns">
  <div class="column">
    <h4>Basic State</h4>
    <p>Switch between active/inactive on click.</p>
    <hero-list-basic [heroes]="heroes"></hero-list-basic>
  </div>
</div>
