version: "3.8"
services:
  mongodb:
    image: "mongo"
    volumes:
      - data:/data/db
    # environment:
      # MONGO_INITDB_ROOT_USERNAME: max
      # MONGO_INITDB_ROOT_PASSWORD: secret
      # - MONGO_INITDB_ROOT_USERNAME=max # alternative way, note -, used for single values
    env_file:
      - ./env/mongo.env
    # networks: # no need to add, compose will create network for all related services
      # - goals-net

  backend:
    build: ./backend # find docker file and build that image if image is not built yet
    # build: # if custom folder and docker file name is used
    #   context: ./backend
    #   dockerfile: Dockerfile
    # args:
    #  some-arg: 1 # provide some args like in cmd line previously

    ports:
      - "80:80"

    # networks: # no need to add, compose will create network for all related services
      # - goals-net

    volumes:
      - logs:/app/logs # named volume
      - ./backend:/app # bound volume, resolves absolute path, kinda like $(pwd) in terminal
      - /app/node_modules # anonymous volume

    env_file:
      - ./env/backend.env

    depends_on:
      - mongodb

  frontend:
    build: ./frontend

    ports:
      - "3000:3000"

    volumes:
      - ./frontend/src:/app/src

    # interactive terminal (like -it flag)
    stdin_open: true
    tty: true

    depends_on:
      - backend

# named volumes, for anonymous volumes no need to specify here
# can be reused across containers
volumes:
  data: 
  logs: