<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-secondary">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="name">Name</label>
          <input
            class="form-control"
            type="text"
            id="name">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="imagePath">Image URL</label>
          <input
            class="form-control"
            type="text"
            id="imagePath">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="" class="img-responsive">
        </div>
      </div>
    </form>
  </div>
</div>
