html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  padding: 1rem;
}

.vcenter {
  align-items: center;
  border: 1px solid white;
  display: flex;
  height: 100%;
  justify-content: center;
}

p {
  margin: 0;
}