{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false,
      "classes": true
    }
  },
  "rules": {
    "semi": "error",
    "no-debugger": 2
  }
}