<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="lib/skeleton/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="lib/skeleton/css/skeleton.css">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<script> var USER = <%- JSON.stringify(user) %></script>
		<script src="main.js"></script>
	</body>
</html>