/* * {
  font-family: sans-serif;
} */

body {
  font-family: montserrat;
}

#product-overview {
  background: #ff1b68;
}

.section-title {
  color: #2ddf5c;
  font-family: inherit;
}

#product-overview h1 {
  color: white;
  font-family: anton;
}

h1 {
  font-family: sans-serif;
}