.ball3 {
  animation: second-animation 1s 2s 3 alternate ease-in-out forwards;
}

@keyframes second-animation {
  0% {
    fill: blue;
    transform: translateX(0) scale(1);
  }
  50% {
    fill: purple;
    transform: translateX(50px) scale(2);
  }
  100% {
    fill: red;
    transform: translateX(100px) scale(1);
  }
}