version: '3.8'

services:
  server:
    # image: 'nginx:stable-alpine'
    build: 
      context: .
      dockerfile: dockerfiles/nginx.dockerfile
    ports:
      - '8000:80'
    # volumes: # commented for deployment needs, docker files copies all
    #   - ./src:/var/www/html
    #   - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php
      - mysql

  php:
    build: 
      context: .
      dockerfile: dockerfiles/php.dockerfile
    # volumes: # for prod deployment no need to link to local folders
    #   - ./src:/var/www/html:delegated
    # ports:
    #   - '3000:9000' # not really needed to reach there from host

  mysql:
    image: mysql:8.0
    env_file:
      - ./env/mysql.env

  composer:
    build:
      context: './dockerfiles'
      dockerfile: 'composer.dockerfile'
    volumes:
      - ./src:/var/www/html

  artisan:
    build: 
      context: ./dockerfiles
      dockerfile: php.dockerfile
    volumes:
      - ./src:/var/www/html
    entrypoint: ["php", "/var/www/html/artisan"]

  npm:
    image: node:14-alpine
    working_dir: /var/www/html
    entrypoint: ["npm"]
    volumes:
      - ./src:/var/www/html