.box {
  position: relative;
  background: white;
  height: 400px;
  width: 600px;
  margin: auto;
  display: block;
  border: solid 2px #41B883;
  margin-top: 8%;
}

.vueconf-logo {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
}

.sun {
  position: absolute;
  height: 20%;
  width: 30%;
  right: 20%;
  top: 10%;
}

.bush {
  position: absolute;
  height: 20%;
  width: 15%;
  right: 15%;
  bottom: 23%;
}

.tree-left {
  position: absolute;
  height: 25%;
  width: 20%;
  left: 5%;
  bottom: 25%;
}

.tree-right {
  position: absolute;
  height: 30%;
  width: 35%;
  left: 9%;
  bottom: 25%;
}