$shadow: rgba(64, 64, 64, 1);
$lighter: rgba(75, 51, 209, 1);
$darker: rgba(90, 48, 181, 1);

$blue: #56727C;
$green: rgba(116, 192, 200, 1);
$red: rgba(204, 77, 77, 1);
$lighterdark: rgba(25, 28, 31, 0.7);

$dark: rgba(25, 28, 31, 1);
$light: rgba(200, 200, 200, 0.6);
$white: rgba(255, 255, 255, 1);

$tablet: 600px;
$large-screen: 480px;
$sidebar-width: 220px;
$sidebar-min-width: 80px;

$content-header-height: 100px;
$content-padding: 10px;