$type-scale: 1.250;
$line-height: 1.5;

$dm-settings_font-size-base: 1rem;
$dm-settings_font-size-sm: $dm-settings_font-size-base / $type-scale;
$dm-settings_font-size-xsm: $dm-settings_font-size-sm / $type-scale;
$dm-settings_font-size-md: $type-scale * $dm-settings_font-size-base;
$dm-settings_font-size-lg: $type-scale * $dm-settings_font-size-md;
$dm-settings_font-size-xl: $type-scale * $dm-settings_font-size-lg;
$dm-settings_font-size-xxl: $type-scale * $dm-settings_font-size-xl;
$dm-settings_font-size-xxxl: $type-scale * $dm-settings_font-size-xxl;

