/**
 * Typography system
 *
 * 1. Font sizes
 * 2. Line heights
 */

$type-scale: 1.250 !default;
$line-height: 1.5 !default;
$dm-settings_font-size-base: 1rem !default;

/* [1] */
$dm-settings_font-size-sm: $dm-settings_font-size-base / $type-scale !default;
$dm-settings_font-size-xsm: $dm-settings_font-size-sm / $type-scale !default;
$dm-settings_font-size-md: $type-scale * $dm-settings_font-size-base !default;
$dm-settings_font-size-lg: $type-scale * $dm-settings_font-size-md !default;
$dm-settings_font-size-xl: $type-scale * $dm-settings_font-size-lg !default;
$dm-settings_font-size-xxl: $type-scale * $dm-settings_font-size-xl !default;
$dm-settings_font-size-xxxl: $type-scale * $dm-settings_font-size-xxl !default;

/* [2] */
$dm-settings_font-size-xsm-line-height: ceil($dm-settings_font-size-xsm / $line-height) * ($line-height / $dm-settings_font-size-xsm) !default;
$dm-settings_font-size-sm-line-height: ceil($dm-settings_font-size-sm / $line-height) * ($line-height / $dm-settings_font-size-sm) !default;
$dm-settings_font-size-base-line-height: ceil($dm-settings_font-size-base / $line-height) * ($line-height / $dm-settings_font-size-base) !default;
$dm-settings_font-size-md-line-height: ceil($dm-settings_font-size-md / $line-height) * ($line-height / $dm-settings_font-size-md) !default;
$dm-settings_font-size-lg-line-height: ceil($dm-settings_font-size-lg / $line-height) * ($line-height / $dm-settings_font-size-lg) !default;
$dm-settings_font-size-xl-line-height: ceil($dm-settings_font-size-xl / $line-height) * ($line-height / $dm-settings_font-size-xl) !default;
$dm-settings_font-size-xxl-line-height: ceil($dm-settings_font-size-xxl / $line-height) * ($line-height / $dm-settings_font-size-xxl) !default;
$dm-settings_font-size-xxxl-line-height: ceil($dm-settings_font-size-xxxl / $line-height) * ($line-height / $dm-settings_font-size-xxxl) !default;
