# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment directories
env/
.venv/
venv/
ENV/
env.bak/
*.env

# Ignore Conda environment files
# *.conda
# *.yml

# Ignore VS Code settings
.vscode/

# Ignore