:host {
  display: block;
	font-family: sans-serif;
  border: 2px solid var(--color-primary);
  margin: 2rem;
  padding: 1rem;
  width: 20rem;
  max-width: 100%;
}

:host(.error) {
  border-color: red;
}

form input {
  font: inherit;
  color: purple;
  padding: 0.1rem 0.25rem;
  display: block;
  margin-bottom: 0.5rem;
}

form input:focus {
  outline: none;
}

form button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid purple;
  background: purple;
  color: white;
  cursor: pointer;
}

form button:active,
form button:hover {
  background-color: blueviolet;
}

form button:disabled {
  background: #ccc;
  border-color: #ccc;
  color: white;
  cursor: not-allowed;
}