main {
  padding-top: 32px;
}

.background {
  position: fixed;
  background-image: url(../images/plans-background.jpg);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.package {
  width: 80%;
  margin: 16px 0;
  border: 4px solid #0e4f1f;
  border-left: none;
}

.package:hover,
.package:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454;
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 32px;
}

.package__title {

}

.package__subtitle {
  color: #979797;

}

.package__info {
  background: white;
  padding: 16px;
  border: 1px solid #0e4f1f;
  color: #0e4f1f;
  font-size: 20px;
}

.clearfix {
  clear: both;
}

#plus {
  background: rgba(213, 255, 220, 0.95);
}

#free {
  background: rgba(234, 252, 237, 0.95);
  float: right;
  border-right: none;
  border-left: 4px solid #0e4f1f;
  text-align: right;
}

#free:hover,
#free:active {
  border-color: #ff5454;
}

#premium {
  background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
  color: white;
}

#premium .package__subtitle {
  color: #bbb;
}