<form [formGroup]="registerForm">
  <label>Firstname:</label>
  <input type="text" formControlName="firstname">
  <p *ngIf="registerForm.controls.firstname.errors">This field is required</p>

  <label>Lastname:</label>
  <input type="text" formControlName="lastname">

  <fieldset formGroupName="address">
    <label>Street:</label>
    <input type="text" formControlName="street">

    <label>Zip:</label>
    <input type="text" formControlName="zip">

    <label>City:</label>
    <input type="text" formControlName="city">
  </fieldset>

  <button type="submit">Submit</button>
</form>

<app-search></app-search>